//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package main

import (
	"context"
	"errors"
	"fmt"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

type subscriptionClient struct {
	con *connection
}

// Delete - Delete the subscription with the given topicName and subscriptionName.
// If the operation fails it returns the *ServiceBusManagementError error type.
func (client *subscriptionClient) Delete(ctx context.Context, topicName string, subscriptionName string, options *SubscriptionDeleteOptions) (SubscriptionDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, topicName, subscriptionName, options)
	if err != nil {
		return SubscriptionDeleteResponse{}, err
	}
	resp, err := 	client.con.Pipeline().Do(req)
	if err != nil {
		return SubscriptionDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SubscriptionDeleteResponse{}, client.deleteHandleError(resp)
	}
	return client.deleteHandleResponse(resp)
}

// deleteCreateRequest creates the Delete request.
func (client *subscriptionClient) deleteCreateRequest(ctx context.Context, topicName string, subscriptionName string, options *SubscriptionDeleteOptions) (*policy.Request, error) {
	urlPath := "/{topicName}/subscriptions/{subscriptionName}"
	if topicName == "" {
		return nil, errors.New("parameter topicName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{topicName}", url.PathEscape(topicName))
	if subscriptionName == "" {
		return nil, errors.New("parameter subscriptionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionName}", url.PathEscape(subscriptionName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if client.apiVersion != nil {
		reqQP.Set("api-version", "2017_04")
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/xml, application/atom+xml")
	return req, nil
}

// deleteHandleResponse handles the Delete response.
func (client *subscriptionClient) deleteHandleResponse(resp *http.Response) (SubscriptionDeleteResponse, error) {
	result := SubscriptionDeleteResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsXML(resp, &result.Object); err != nil {
		return SubscriptionDeleteResponse{}, err
	}
	return result, nil
}

// deleteHandleError handles the Delete error response.
func (client *subscriptionClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ServiceBusManagementError{raw: string(body)}
	if err := runtime.UnmarshalAsXML(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Get the details about the subscription of a topic.
// If the operation fails it returns the *ServiceBusManagementError error type.
func (client *subscriptionClient) Get(ctx context.Context, topicName string, subscriptionName string, options *SubscriptionGetOptions) (SubscriptionGetResponse, error) {
	req, err := client.getCreateRequest(ctx, topicName, subscriptionName, options)
	if err != nil {
		return SubscriptionGetResponse{}, err
	}
	resp, err := 	client.con.Pipeline().Do(req)
	if err != nil {
		return SubscriptionGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SubscriptionGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *subscriptionClient) getCreateRequest(ctx context.Context, topicName string, subscriptionName string, options *SubscriptionGetOptions) (*policy.Request, error) {
	urlPath := "/{topicName}/subscriptions/{subscriptionName}"
	if topicName == "" {
		return nil, errors.New("parameter topicName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{topicName}", url.PathEscape(topicName))
	if subscriptionName == "" {
		return nil, errors.New("parameter subscriptionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionName}", url.PathEscape(subscriptionName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Enrich != nil {
		reqQP.Set("enrich", strconv.FormatBool(*options.Enrich))
	}
	if client.apiVersion != nil {
		reqQP.Set("api-version", "2017_04")
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/xml, application/atom+xml")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *subscriptionClient) getHandleResponse(resp *http.Response) (SubscriptionGetResponse, error) {
	result := SubscriptionGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsXML(resp, &result.Object); err != nil {
		return SubscriptionGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *subscriptionClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ServiceBusManagementError{raw: string(body)}
	if err := runtime.UnmarshalAsXML(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Put - Create or update a subscription
// If the operation fails it returns the *ServiceBusManagementError error type.
func (client *subscriptionClient) Put(ctx context.Context, topicName string, subscriptionName string, requestBody map[string]interface{}, options *SubscriptionPutOptions) (SubscriptionPutResponse, error) {
	req, err := client.putCreateRequest(ctx, topicName, subscriptionName, requestBody, options)
	if err != nil {
		return SubscriptionPutResponse{}, err
	}
	resp, err := 	client.con.Pipeline().Do(req)
	if err != nil {
		return SubscriptionPutResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return SubscriptionPutResponse{}, client.putHandleError(resp)
	}
	return client.putHandleResponse(resp)
}

// putCreateRequest creates the Put request.
func (client *subscriptionClient) putCreateRequest(ctx context.Context, topicName string, subscriptionName string, requestBody map[string]interface{}, options *SubscriptionPutOptions) (*policy.Request, error) {
	urlPath := "/{topicName}/subscriptions/{subscriptionName}"
	if topicName == "" {
		return nil, errors.New("parameter topicName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{topicName}", url.PathEscape(topicName))
	if subscriptionName == "" {
		return nil, errors.New("parameter subscriptionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionName}", url.PathEscape(subscriptionName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if client.apiVersion != nil {
		reqQP.Set("api-version", "2017_04")
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	if options != nil && options.IfMatch != nil {
		req.Raw().Header.Set("If-Match", *options.IfMatch)
	}
	req.Raw().Header.Set("Accept", "application/xml, application/atom+xml")
	return req, runtime.MarshalAsXML(req, requestBody)
}

// putHandleResponse handles the Put response.
func (client *subscriptionClient) putHandleResponse(resp *http.Response) (SubscriptionPutResponse, error) {
	result := SubscriptionPutResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsXML(resp, &result.Object); err != nil {
		return SubscriptionPutResponse{}, err
	}
	return result, nil
}

// putHandleError handles the Put error response.
func (client *subscriptionClient) putHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ServiceBusManagementError{raw: string(body)}
	if err := runtime.UnmarshalAsXML(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

